# Generate your own secret key
# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"

SECRET_KEY=django-insecure-1kkt4#5cz9ek+6abcedx7*s!xb9$8_o0w$s$=pzb7+qlk20wi-
DEBUG=True

# Database configuration
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost